<div class="container" ng-controller="MainController">
  <form class="form-search" name="searchUser" ng-submit="search()"> 
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-3">
            <input class="form-control input-lg" type="text" required="required" 
            placeholder="search user..." ng-model="username" />
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-lg btn-info">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Search&nbsp;&nbsp;
            </button>
        </div>
    </div>
  </form>
  <div class="col-sm-6 col-sm-offset-3">
    <span class="help-block">This portal allows searching user and repository information for Github users</span>
  </div>
</div>