<h2>{{repo.name}}</h2>

<div>
  <h3>{{repo.description}} </h3>
  Open Issues: {{repo.open_issues_count}} <br>
  
  <a href="{{repo.html_url}}">See the repository on GitHub!</a> <br/>
</div>

<div>
  Contributors:
  <ul>
    <li ng-repeat="user in repo.contributors">
      {{user.login}}
    </li>
  </ul>
</div>

<a href="#/main">Back to search</a>

<a href="#/user/{{repo.owner.login}}">Back to {{repo.owner.login}}</a>