<div class="container-fluid">
<div class="row-fluid">
    <div class="col-sm-5" id="userDetails">
        <h3 ng-show="error" class="alert alert-danger"> {{error}} </h3>

        <button ng-hide="user || error" class="btn btn-lg btn-warning">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> 
            Retrieving data...
        </button>

        <form ng-show="user" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Name</label>
              <div class="form-control-static">{{user.name}}</div>
            </div>
            <div class="control-group">
              <label class="control-label">Location</label>
              <div class="form-control-static">{{user.location}}</div>
            </div>
            <div class="control-group">
            <img class="img-circle" ng-src={{user.avatar_url}} title={{user.name}} /> 
            </div>
        </form>
        
        <br /><br />
  
        <ul class="nav nav-pills">
            <li class="active"><a href="#/main">Back to search</a></li>
        </ul>
  
    </div>

    <div class="col-sm-7" ng-show="repos.length > 0">
        <div class="form-group">
            <label class="control-label col-sm-4" for="sortOrder">Sort repositories by</label>
            <div class="col-sm-6 col-md-4">
            <select id="sortOrder" class="form-control" ng-model="repoSortOrder">
                <option value="+name">Name</option>
                <option value="-stargazers_count">Stars</option>
                <option value="+language">Language</option>
            </select> 
        </div>
        </div>

      <table class="table table-striped table-hover" border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td>
              <a href="#/repo/{{user.login}}/{{repo.name}}">
                {{repo.name}}
              </a>
            </td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
